<div class="container py-5">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ recipe.image }}"
          class="img-fluid rounded-start"
          alt="Food"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ recipe.spoonacularSourceUrl }}">{{ recipe.title }}</a>
          </h5>

          <p class="card-text">Ready in {{ recipe.readyInMinutes }} minutes</p>
          <p class="card-text">{{ recipe.servings }} servings</p>
          <p class="card-text">Health score: {{ recipe.healthScore }}</p>
          <p class="card-text">{{ recipe.dishTypes }}</p>
          <p class="card-text">
            <a href="#" routerLink="/recipes/index" class="btn btn-primary"
              >Back</a
            ></p>
            <button
              *ngIf="this.authService.isLoggedIn"
              (click)="saveRecipe(id)"
              routerLink="/myrecipes"
              class="btn btn-success dropdown-toggle"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Add to the list
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              
              <!-- <form *ngFor="let i of recipe" [formGroup]="form" (ngSubmit)="submit()">
                  
              <input type="hidden" name="recipe_list_id" value="{{ i.id }}">
                  <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                  <li class="nav-item">
                      <button class="dropdown-item" >{{ i.title }}</button>
                  </li>
              </form> -->
             
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</div>
