<div class="container py-5">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4 col-xxl-4">
        <img
          src="{{ recipe.image }}"
          class="img-fluid"
          alt="Food"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a class="a-title" href="{{ recipe.spoonacularSourceUrl }}">{{ recipe.title }}</a>
          </h5>

          <p class="card-text">Ready in {{ recipe.readyInMinutes }} minutes</p>
          <p class="card-text">{{ recipe.servings }} servings</p>
          <p class="card-text">Health score: {{ recipe.healthScore }}</p>
          <p class="card-text">{{ recipe.dishTypes }}</p>
          <p class="card-text">
            <a href="#" routerLink="/recipes/index" class="btn btn-dark"
              >Back</a
            >
          </p>
          <p *ngIf="this.authService.isLoggedIn" class="card-text">
            <a
              href="#"
              (click)="saveRecipe(id)"
              routerLink="/myrecipes"
              class="btn btn-success"
              >Add to My Recipes</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
