<div class="container">
  <h1 class="text-center my-5">My Lists</h1>

  <a href="#" routerLink="/recipelist/create/" class="btn btn-success my-3"
    >Create New List</a
  >
  <div class="card bg-light" style="border-radius: 15px">
    <div class="card-body p-5">
      <table class="table w-60 table-hover table-striped mb-0">
        <tr>
          <th width="200px">Title</th>
          <th class="text-center">Action</th>
        </tr>
        <tr *ngFor="let recipelist of recipelists">
          <td>{{ recipelist.title }}</td>

          <td class="text-center">
            <button
              type="button"
              [routerLink]="['/recipelist', recipelist.id, 'view']"
              class="btn btn-info m-1"
            >
              View
            </button>
            <button
              type="button"
              [routerLink]="['/recipelist', recipelist.id, 'edit']"
              class="btn btn-success m-1"
            >
              Edit
            </button>
            <button
              type="button"
              (click)="deleterecipelist(recipelist.id)"
              class="btn btn-danger m-1"
            >
              Delete
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
