<div class="container">

  <p class="lead">
    Find something that matches your appetite below
  </p>
  <p>
    <input
      type="text"
      name="testing"
      [(ngModel)]="searchinput"
      placeholder="tex.: vegan, gluten free, salad, italian ..."
    />
    <button
      class="btn btn-primary my-2"
      routerLink="/recipes/index"
      (click)="handleRecipeSearch()"
    >
      Get Recipes
    </button>
  </p>
</div>

<div class="container p-5" >
  <div class="row gy-5" >
    <div
      class="col-lg-4 col-sm-6 d-flex align-items-stretch"
      *ngFor="let recipe of recipes"
    >
    
    
      <div class="card" style="width: 20rem">
        <img class="card-img-top" src="{{ recipe.image }}" alt="Card image" />
        <div class="card-body">
          <h4 class="card-title">{{ recipe.title }}</h4>

          <!-- De corectat ca nu se vede nimic la calories -->
          <p class="card-text">
            {{ recipe.calories }} calories 
          </p>
          <a
            
            class="btn btn-primary"
            [routerLink]="['/recipes/', recipe.id, 'view']"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
