<div class="container py-5">
  <div class="row gy-5">
    <div
      class="col-lg-4 col-sm-6 d-flex align-items-stretch"
      *ngFor="let recipe of recipes"
    >
      <div class="card">
        <img
          class="card-img-top img-fluid"
          src="{{ recipe.image }}"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">{{ recipe.label }}</h4>
          <p class="card-text">
            {{ recipe.ingredientLines.length }} ingredients
          </p>
          <a
            href="#"
            class="btn btn-primary"
            [routerLink]="['/recipe/', recipe.id, 'view']"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
